body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 40px;
    
}
.container{
    
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 100px auto;
}
.title{
   font-size: 32px;
   font-weight: bold;
   color: 2c3e50;
   text-align: center;
   margin-bottom: 20px;
   border-bottom: 3px solid #3498db;
   padding-bottom: 10px;
}
::content .content{
    font-size: 18px;
    color: #555;
    line-height: 2.0;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-align: justify;
}
/*decendant
*/
.content p{
    margin-bottom: 15px;
}
